<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />

<div align="center" style="padding:10% 0;">
    <form action="/search_company/" method="post" class="form-inline">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Search" class="btn btn-default" />
    </form>
    <span id="not_found"> {{ not_found }} </span>
</div>
